<div class="modal-header">
    <h3 class="modal-title">{{title}}</h3>
</div>
<div class="modal-body">
    <p ng-bind-html="message"></p>

    <div class="options" ng-if="options">
        <br>

        <div class="checkbox" ng-repeat="option in options">
            <input id="chk_{{option.name}}" type="checkbox" ng-model="choices[option.name]"> <label for="chk_{{option.name}}">{{option.label}}</label>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-danger pull-left" type="button" ng-click="$dismiss()">{{cancelText}}</button>
    <button class="btn btn-success pull-right" type="button" ng-click="confirm()">{{confirmText}}</button>
</div>